[Unit]
Description=NeighborBBS server daemon
# After=mysql.service
Wants=network.target mysql.service

[Service]
ExecStart=/root/work/repos/neighbor_bbs/run.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target